/* =======================================================================================================
Credits: solodev
A good part of this stylesheet was produced following the tutorial on solodev.
https://www.solodev.com/blog/web-design/adding-an-infinite-client-logo-carousel-to-your-website.stml
========================================================================================================== */

.slc-logos {
    display: none;
}

.slc-logos.slick-initialized {
    display: block;
}

.slc-logo:hover .slc-logo-container:before,
.slc-logo:hover .slc-hover-text {
    display: block;
}

.slc-logo:hover .slc-logo-container.slc-no-hover:before {
    display: none;
}

.slc-logo-container {
    position: relative;
}

.slc-logo-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
}

.slc-hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: transparent;
    display: none;
}

.slc-logos .slick-slide {
    margin: 0px 20px;
}

.slc-logos.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slc-logos .slick-slide > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.slc-logos .slick-slide {
    display: table !important;
}

.slc-logos .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slc-logos .slick-list:focus {
    outline: none;
}

.slc-logos .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slc-logos.slick-slider .slick-track, .slc-logos.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slc-logos .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slc-logos .slick-track:before, .slc-logos .slick-track:after {
    display: table;
    content: '';
}

.slc-logos .slick-track:after {
    clear: both;
}

.slc-logos .slick-loading .slick-track {
    visibility: hidden;
}

.slc-logos .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slc-logos .slick-slide img {
    display: block;
}

.slc-logos .slick-slide.slick-loading img {
    display: none;
}

.slc-logos .slick-slide.dragging img {
    pointer-events: none;
}

.slc-logos.slick-initialized .slick-slide {
    display: block;
}

.slc-logos.slick-loading .slick-slide {
    visibility: hidden;
}

.slc-logos .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slc-logos .slick-arrow.slick-hidden {
    display: none;
}

.slc-logos button.slick-prev.slick-arrow,
.slc-logos button.slick-next.slick-arrow {
    padding: 0;
    top: 50%;
    position: absolute;
    background-color: transparent;
    z-index: 5;
    text-decoration: none;
    outline: none;
}

.slc-logos button.slick-prev.slick-arrow:hover,
.slc-logos button.slick-next.slick-arrow:hover {
    padding: 0;
    background-color: transparent;
    text-decoration: none;
    outline: none;
}

.slc-logos .slc-logo-title {
    margin-top: 15px;
    text-display: none;
}

.slc-logos img.slick-prev.slick-custom-arrow.slick-arrow,
.slc-logos img.slick-next.slick-custom-arrow.slick-arrow {
    padding: 0;
    top: 50%;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    z-index: 5;
}

.slc-logos img.slick-prev.slick-custom-arrow.slick-arrow {
    left: 0;
    transform: translateY(-50%);
}

.slc-logos img.slick-next.slick-custom-arrow.slick-arrow {
    right: 0;
    transform: translateY(-50%);
}

.slc-logo img,
.slc-logo a {
    outline: none;
}